@font-face {
  font-family: "vazir";
  src: url("/assets/font/Vazirmatn/static/Vazirmatn-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "vazir";
}

.adbox {
  margin-top: 25px;
}

nav {
  background-color: black;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1.2em;
}

th {
  color: brown;
}

#main-title {
  color: white;
  background-color: darkgray;
}

.paragraph-content {
  color: white;
  background-color: darkslategray;
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 60px;
}

.header-container {
  grid-area: header;
}

.ads-container {
  grid-area: ads;
}

.content-container {
  background: lightgray;
  grid-area: content;
}

.footer-container {
  background: lightpink;
  grid-area: footer;
}

.container {
  font-size: 1.5em;
  min-height: 300px;
  width: 100%;
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto 1fr auto;
  grid-gap: 10px;
  grid-template-areas:
    "header"
    "advert"
    "content"
    "footer";
}

@media (min-width: 300px) {
  .container {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header"
      "ads content"
      "footer footer";
  }
}

@media (min-width: 400px) {
  .container {
    grid-template-areas:
      "header header"
      "ads   content"
      "footer footer";
  }
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

div + p {
  margin: auto;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px auto;
}

th,
td {
  border: 1px solid burlywood;
  padding: 10px;
  text-align: center;
}

thead {
  background-color: darkgray;
  color: white;
}

@media screen and (max-width: 600px) {
  .paragraph-content {
    width: 100%;
  }

  table {
    margin: 15px;
  }
}

@media print {
  body {
    font-size: 12pt;
  }

  h1,
  h2 {
    page-break-after: avoid;
  }

  table {
    page-break-inside: auto;
  }

  th,
  td {
    border: 1px solid black;
  }

  thead {
    background-color: lightgray;
    color: black;
  }
}
